@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500&display=swap');

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
  font-family: Inter, sans-serif, Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.5;
  color: var(--color-body);
  font-size: 1.6rem;
}

.content-wrapper {
  /* background: url("../src//assets//backg.avif"); */
}

.logo {
  font-size: 2rem;
  margin-left: 1rem;
  text-decoration: none;
  color: var(--color-heading);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem 1rem;
  align-items: center;
  font-family: Inter, sans-serif;
}

.nav__list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.nav__item {
  padding: 1rem;
  border-bottom: 1px solid #d2d2d2;
}

.nav__item > a {
  color: var(--color-body-darker);
  text-decoration: none;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-primary);
}

.nav__toggler {
  width: 40px;
  height: 40px;
  transition: box-shadow 0.15s;
  cursor: pointer;
  opacity: 0.5;
}

.collapsible__content {
  max-height: 0;
  display: none;
  opacity: 0;
}

.nav.collapsible--expanded .collapsible__content {
  max-height: 100%;
  display: block;
  opacity: 1;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

/* HOME */

.container {
  padding-top: 3rem;
  font-size: 1.6rem;
  font-family: Inter, sans-serif;
}

.card-container {
  width: 85%;
}

.card {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
}

.card-body {
  min-height: 18rem;
  /* background-color: #d2d2d2; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px; */
}

.container h1 {
  color: var(--color-primary);
  font-family: Inter, sans-serif;
}

/* CREATE ITEM */

.create-container {
  font-family: Inter, sans-serif;
  width: 60%;
  margin: 3rem auto;
  /* background-color: #00d9ff; */
  min-height: 100vh;
  /* font-size: 1.6rem; */
}

.create-container h1 {
  /* font-size: 4rem; */
  color: var(--color-primary);
}

.create-container input {
  /* height: 4rem; */
  color: #918ca4;
  /* font-size: 1.6rem; */
}

.create-container button {
  padding: .5rem 1rem;
  /* font-size: 1.6rem; */
}



@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 16px;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

.centered-content {
  text-align: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

.card-container {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
}

.card-title,
.card-description {
  text-align: center;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;

  /* position: absolute; */
}

.card-body {
  padding: 15px 20px;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--color-heading);
  padding-bottom: 10px;
}

.btn-danger {
  width: 40%;
  font-size: 15px;
}

.form-group,
.form-control,
input {
  font-size: 18px;
}


/* Media query for small screens */
@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
    max-width: 100%;

    /* Only 1 card in a row on small screens */
  }

  .card-img {
    width: 100%;
    height: auto;
    object-fit: cover;

    /* position: absolute; */
  }
}
